<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<title>Wallarock</title>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script th:src="@{~/js/materialize.js}" src="js/materialize.js"></script>
<script th:src="@{~/js/init.js}" src="js/init.js"></script>
<script th:src="@{~/js/addproduct.js}" src="js/addproduct.js"></script>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
<link href="css/materialize.css" th:href="@{~/css/materialize.css}"
    type="text/css" rel="stylesheet" media="screen,projection" />
<link href="css/style.css" th:href="@{~/css/style.css}" type="text/css"
    rel="stylesheet" media="screen,projection" />
</head>

</html>
